<div class="container form-container">
  <form *ngIf="response==''" (submit)="sendName(); $event.preventDefault()" [class.dim]="response">
    <div class="name-label">Введите ваше имя</div>
    <input type="text" id="name"
           name="name" [(ngModel)]="name"
           (focus)="hasBeenFocused=true"
           [class.has-focus]="hasBeenFocused"

    >
    <button class="btn btn-primary fade-in" type="submit">Отправить</button>
  </form>
  <div class="response-container" *ngIf="response">
    <div class="response">{{ response }}</div>
    <button class="btn btn-secondary fade-in" (click)="resetForm()">Попробовать еще раз</button>
  </div>
</div>
<div class="fireworks-container" *ngIf="showFireworks">
  <div class="firework left"></div>
  <div class="firework right"></div>
</div>
