.name-label {
  font-family: Calibri, sans-serif;
  font-size: 35px;
  color: $info;
  align-self: center;
  margin-bottom: 10px;
}

.response-container {
  margin-top: 20px;
  text-align: center;
}

.response {
  margin-bottom: 10px;
  animation: fadeIn 2s;
  font-size: 150px;
  font-family: Calibri, sans-serif;
  color: $info;
}


@media (max-width: map-get($grid-breakpoints, xl)) {
  .response {
    font-size: calc(6vw + 1rem);
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .response {
    font-size: calc(8vw + 1rem);
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .response {
    font-size: calc(12vw + 0.5rem);
  }
}
